################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Amy_Lab2/.vs
/Amy_Lab2/out/build/x64-Debug
